.RegisterFormik
{
    height: 100%;
    position: relative;
    min-height: 100vh;
    padding-bottom: 110px;
}

.RegisterFormik .form {
    background: white;
    border-radius: 8px;
    max-width: 500px;
    padding: 32px 64px;

    margin: 20px auto 80px;
  }

.RegisterFormik form h1
{
    font-size: 36px;
    text-align: center;
    margin-bottom: 32px;
}

.RegisterFormik button {
    width: 100%;
    height: 56px;

    background-color: var(--primary-color);
    border-radius: 8px;

    color: white;
    font-weight: bold;
    font-size: 16px;

    border: 0;

    margin-top: 20px;

    /* Para deixar o efeito de hover mais suave */
    transition: background-color 400ms;
}

.RegisterFormik button:hover
{
    background-color: var(--hover-color);
}


.RegisterFormik .form a
{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;

  margin-top: 8px;
  font-size: 17px;
  color: #221F1F;
  font-weight: 700;
  justify-content: center;
}

.RegisterFormik .form a span
{
    height: 56px;
    width: 100%;
    transition: background-color 700ms;
    border-radius: 8px;

    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.RegisterFormik .form a span:hover
{
    background-color:  #fff9c3;
}

.RegisterFormik body::after
{
    content: "";
    position: absolute ;
    background: var(--cor-teste);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 18rem;
    z-index: -1;
}

.RegisterFormik header img
{

    background-color: var(--cor-teste);
}

.RegisterFormik header
{
    background-color: var(--cor-teste);
    padding-top: 64px;
    display: flex;
    align-items: center;
}


#modal
{
    /* Para o modal utilizar 100% da tela */
    height: 100vh;
    width: 100vw;
    background-color: #0e0a14ef;

    position: fixed;

    /* Ser fixado no topo da tela */
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Transição pra quando for aberto */
    transition: 400ms;
}

/* Caixa que vai ter o conteúdo */
#modal .content
{
    color: white;
    width: 420px;
}

#modal .header
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 48px;
}

#modal .header h1
{
    color: white;

    margin-top: 32px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    justify-content: center;
}


/* Quando o modal estiver pertencendo à classe hide ele não vai mostrar nada do seu conteúdo */
#modal.hide
{
    display: none;
}