header
{
    display: flex;
    flex-direction: column;

    background-color: white;
}

header .top
{
    display: grid;
    grid-template-columns: 60px 110px 70px 150px;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: var(--cor-teste);
    padding: 4px 32px;
}

header .middle
{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 4px 32px;
    background-color: var(--cor-teste);
}

header .middle .logo-search
{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

header .middle .logo-search #form2 .search-field
{
    display: flex;
    align-items: center;

    /* ~TAMANHO */

    background-color: var(--gray-color);
    
    border-width: 1px;
    border-color: black;
}

header .middle .logo-search #form2 .search-field button
{
    width: 38.4px;
    height: 38.4px;

    border-top: 2px solid rgb(148, 148, 148);
    border-right: 2px solid rgb(148, 148, 148);
    border-bottom: 2px solid rgb(148, 148, 148);
    border-left: none;

    cursor: pointer;
}



header .middle .logo-search #form2 .search-field input
{
    background-color: var(--gray-color);

    border-style: solid;
    border-color: rgb(148, 148, 148);
    padding: 8px 16px;
    width: 380px;
    border-width: 2px;
    border-right: none;
    font-size: 16px;
}

header .bottom-menu
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 36px;
    padding: 4px 32px;
    background-color: var(--logo-color);
}

header .bottom-menu .items
{
    align-items: center;
    display: flex;
    height: 36px;
    width: 90%;
    max-width: 1200px;
    color: white;
    font-size: 17px;
}

header .bottom-menu .items .categories-menu
{
    display: flex;
    flex-direction: column;
}


header .bottom-menu .items .categories-options
{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: absolute;
    margin-top: 36px;
    background-color: #fefefe;
    color: #666666;
    padding: 16px 0;
    width: 192px;

    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    border: 1px solid rgb(204, 203, 203);
}

header .bottom-menu .items .categories-menu .categories-options a.options
{
    color: #666666;
    display: flex;
    flex: 1;
    padding: 4px 28px;
    font-weight: 500;
}

header .bottom-menu .items .categories-menu .categories-options a.options:hover
{
    background-color: #efefef;
}

header .bottom-menu .items .first-categorie:hover,
header .bottom-menu .items .second-categorie:hover,
header .bottom-menu .items .third-categorie:hover,
header .bottom-menu .items .categories:hover
{
    color: #eeeeee;
    background-color: var(--hover-color);
}

header .bottom-menu .items .categories
{
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 28px;
}

header .bottom-menu .items .categories span.menu
{
    margin-right: 3px;
    height: 24px;
    width: 24px;
}

header .bottom-menu .items .categories span.arrow
{
    margin-left: 3px;
    height: 24px;
    width: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .bottom-menu .items .first-categorie
{
    align-items: center;
    display: flex;
    height: 36px;
    padding: 0 28px;
    transition: 200ms;
}

header .bottom-menu .items .second-categorie
{
    align-items: center;
    display: flex;
    height: 36px;
    padding: 0 28px;
}

header .bottom-menu .items .third-categorie
{
    align-items: center;
    display: flex;
    height: 36px;
    padding: 0 28px;
}

header p
{
    color: white;
}

header a
{
    color: white;
    font-weight: 300;

    display: flex;
    align-items: center;
}

.user-area
{
    display: flex;
    flex-direction: row;
}

.user
{
    display: flex;
    margin-right: 16px;
    align-items: center;
    justify-content: center;
}

.user-name
{
    color: white;
    font-weight: 600;
    margin-bottom: 6px;

}

.user span
{
    margin-right: 8px;
    color:white;
}