page-checkout-error
{
    height: 100%;
    position: relative;
    min-height: 100vh;
    /* padding-bottom: 110px; */
}

page-checkout-error .content{

    width: 90%;
    max-width: 1200px;
   
    margin: 0 auto;
    
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

page-checkout-error .content main
{
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    border: 1px solid rgb(204, 203, 203);

    display: flex;
    flex-direction: column;
    border-radius: 8px;

    padding: 64px;
    font-size: 26px;
    font-weight: bold;
    color: #333333;
}

page-checkout-error body::after
{
    content: "";
    position: absolute ;
    background: var(--cor-teste);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 18rem;
    z-index: -1;
}

page-checkout-error header img
{

    background-color: var(--cor-teste);
}

page-checkout-error header
{
    background-color: var(--cor-teste);
    padding-top: 64px;
    display: flex;
    align-items: center;
}

page-checkout-error .content main .title-first
{
    text-align: center;
    font-size: 34px;
    margin-bottom: 16px;
}

page-checkout-error .content main .title-second
{
    text-align: center;
    font-size: 28px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

page-checkout-error .content main .info
{
    margin-bottom: 50px;
    text-align: justify;
}

page-checkout-error .content main .header-image .subtitle
{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

page-checkout-error .content main .header-image 
{
    margin-bottom: 60px;
}

page-checkout-error .content main .menu-image .subtitle
{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

page-checkout-error .content main .menu-image 
{
    margin-bottom: 60px;
}

page-checkout-error .content main a
{
    font-weight: 500;
    text-align: center;
    color:#3483FA;
}

page-checkout-error .content main .contato
{
    text-align: center;
    margin-bottom: 60px;
}