#page-checkout .content
{
    width: 90%;
    max-width: 1200px;
   
    margin: 0 auto;
    
    height: 100%;
    
    display: flex;
    flex-direction: column;
}


#page-checkout .content main
{
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    border: 1px solid rgb(204, 203, 203);

    padding: 16px;
}

#page-checkout .content main .grid
{
    display: grid;
    grid-template-columns: auto 450px;
    gap: 16px;
}

#page-checkout .content main .grid .user-info
{
    /* width: 750px; */
    padding: 16px;
    border: 1px solid rgb(204, 203, 203);
}

#page-checkout .content main .grid .user-info .form .contact
{
    margin-bottom: 64px;
}

#page-checkout .content main .grid .user-info .form .contact .field-group-phone
{
    display: grid;
    grid-template-columns: 64px auto;
    gap: 16px;
}

#page-checkout .content main .grid .user-info .form .personal-info
{
    margin-bottom: 64px;
}

#page-checkout .content main .grid .user-info .form .delivery-info
{
    margin-bottom: 48px;
}




#page-checkout .content main .grid .product-info
{
    height: 300px;
    padding: 16px;
    border: 1px solid rgb(204, 203, 203);
}

#page-checkout .content main .grid .product-info .general-info
{
    display: grid;
    flex-direction: row;
    grid-template-columns: 64px auto;
    gap: 16px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgb(204, 203, 203);
    padding-bottom: 16px;
}

#page-checkout .content main .grid .product-info .general-info img
{
    height: 64px;
    width: 64px;
}

#page-checkout .content main .grid .product-info .general-info .name-price
{
    font-size: 25px;
    font-weight: 400;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#page-checkout .content main .grid .product-info .general-info .name-price .name
{
    margin-right: 8px;
}

