
footer
{
    background-color: var(--cor-teste);
    display: flex;
    padding: 10px 16px 0px;
    font-family: Roboto;

    margin: 0 auto;
}

footer .info .contato
{
    align-items: center;
    display: grid;
    grid-template-columns: 90px 50px 50px;
    margin-bottom: 10px;
}

footer .info .contato a .borda
{
    width: 30px;
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

footer .info .contato a.icone
{
    font-size: 0.1px;
}

footer .info a
{
    display: block;
    font-size: 20px;
    color: white;
}

footer .info p
{
    margin-bottom: 4px;
    font-size: 15px;
    color: white;
}

footer .info
{
    flex: 1;
}