#page-cart
{
    height: 100%;
    position: relative;
    min-height: 100vh;
    /* padding-bottom: 110px; */
}

#page-cart .content{

    width: 90%;
    max-width: 1200px;
   
    margin: 0 auto;
    
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

#page-cart .content main
{
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    border: 1px solid rgb(204, 203, 203);
    padding: 32px;
}

#page-cart .content main h1
{
    margin-left: 16px;
    margin-top: 32px;
}   

#page-cart .content main .products-grid
{
    margin-top: 48px;
    border-bottom: 1px solid rgb(204, 203, 203);
}

#page-cart .content main .products-grid .cart-product
{  
    /* Deixar cor de fundo e tirar o pontinho de lista*/
    background-color: white;
    list-style: none;

    /* Configurar o tamanho dos itens */
    height: 140px;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;

    border-top: 1px solid rgb(204, 203, 203);

    margin-bottom: 32px;
    padding-top: 32px;
}

#page-cart .content main .products-grid .cart-product .info
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#page-cart .content main .products-grid .cart-product .info .title
{
    font-size: 24px;
    font-weight: 600;
    color: #333333;
}

#page-cart .content main .products-grid .cart-product .title
{
    font-size: 20px;
    margin-bottom: 8px;
    margin: 0 32px;
}

#page-cart .content main .products-grid .cart-product .quantity-price
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#page-cart .content main .products-grid .cart-product .quantity-price .max-quantity-remove
{
    margin-right: 8px;
}

#page-cart .content main .products-grid .cart-product .quantity-price .max-quantity-remove-price
{
    display: flex;
    flex-direction: row;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

#page-cart .content main .products-grid .cart-product .quantity-price .quantity
{
    width: 150px;
}

#page-cart .content main .products-grid .cart-product .quantity-price .max-quantity
{
    color: rgb(97, 96, 96);
}

#page-cart .content main .products-grid .cart-product .quantity-price button.remove
{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
    
    font-size: 16px;
    color:#3483FA;
    margin-top: 6px;
}

#page-cart .content main .products-grid .cart-product .quantity-price .quantity input.current-quantity
{
    font-size: 20px;
    text-align: center;
    height: 40px;
    width: 100px;
}

#page-cart input[type=number]::-webkit-inner-spin-button { 
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
  }

#page-cart .content main .products-grid .cart-product .quantity-price .quantity .input
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#page-cart .content main .products-grid .cart-product  .quantity-price .price strong
{
    font-size: 24px;
    color: #333333;
}

#page-cart .content main .products-grid .cart-product a
{
    color: black;
}



#page-cart .content main .freight-area-price
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 32px 0;
    margin-bottom: 48px;
    border-bottom: 1px solid rgb(204, 203, 203);
    height: 200px;

}

#page-cart .content main .freight-area-price .freight-area
{
    flex: 1;
}

#page-cart .content main .freight-area-price .checkout-price
{
    width: 300px;
    font-size: 21px;
    color: rgb(85, 83, 83);
}

#page-cart .content main .freight-area-price .checkout-price .products-price
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#page-cart .content main .freight-area-price .checkout-price .products-price .products-price-number
{
    font-weight: bold;
    font-size: 24px;
}

#page-cart .content main .freight-area-price .checkout-price .freight-price
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

#page-cart .content main .freight-area-price .checkout-price .freight-price .freight-price-number
{
    font-weight: bold;
    font-size: 24px;
}

#page-cart .content main .freight-area-price .checkout-price .total-price
{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #333333;
}

#page-cart .content main .freight-area-price .checkout-price .total-price .total-price-text
{
    font-size: 24px;
    font-weight: bold;
}

#page-cart .content main .freight-area-price .checkout-price .total-price .total-price-number
{
    font-size: 28px;
    font-weight: bold;
}

#page-cart .content main #form1
{
    margin-bottom: 32px;
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

#page-cart .content main #form1 button
{
    width: 220px;
    height: 60px;

    background-color: var(--primary-color);

    color: white;
    font-weight: bold;
    font-size: 18px;
    line-height: 16px;
    border-radius: 6px;

    border: 0;
    cursor: pointer;
    /* Para deixar o efeito de hover mais suave */
    transition: background-color 400ms;
}

/* Muda a cor ao passar o mouse por cima */
#page-cart .content main #form1 button:hover
{
    background-color: var(--hover-color);
}



#page-cart .content main .freight-area-price .freight-area
{
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

#page-cart .content main .freight-area-price .freight-area #form2
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8px;
}

#page-cart .content main .freight-area-price .freight-area #form2 input
{
    background-color: white;
    border: 1px solid rgb(204, 203, 203);

    /* Aumenta o tamanho dos campos para input/select */
    margin-left: 32px;
    padding: 16px 16px;
    line-height: 16px;
    font-size: 16px;

    /* quando seleciona o campo ficava uma linha ao redor */
    outline: none;

    /* resetar a aparência padrão - usa os 3 pra aplicar em mais tipos de navegadores */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}

#page-cart .content main .freight-area-price .freight-area #form2 button
{
    width:  52.4px;
    height: 52.4px;

    background-color: var(--primary-color);

    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;

    border: 0;

    cursor: pointer;
    /* Para deixar o efeito de hover mais suave */
    transition: background-color 400ms;
}

#page-cart .content main .freight-area-price .freight-area #form2 button:hover
{
    background-color: var(--hover-color);
}

#page-cart .content main .freight-area-price .freight-area a
{
    margin-left: 32px;
    font-size: 14px;
}


#page-cart .content main .delivery
{
    margin-top: 8px;
    font-size: 18px;
}

#page-cart .content main .error-delivery
{
    margin-top: 8px;
    font-size: 18px;
    color: rgb(207, 72, 72);
}

#page-cart .content main .delivery .delivery-text
{
    margin-bottom: 8px;
    font-weight: 700;
}

#page-cart .content main .delivery .delivery-data
{
    font-size: 16px;
    display: flex;
    flex-direction: row;
}

#page-cart .content main .delivery .delivery-data .day
{
    margin-right: 48px;
}

#page-cart .content main .delivery .delivery-data .type
{
    margin-right: 48px;
}

#page-cart .content main .freight-area-column
{
    display: flex;
    flex-direction: column;
}

#page-cart .content main .freight-area-row
{
    display: flex;
    flex-direction: row;
}

#page-cart .content main .empty
{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#page-cart .content main .empty .title
{
    text-align: center;
    font-size: 32px;
}

#page-cart .content main .empty a
{
    font-size: 24px;
    text-align: center;
}

@media (max-width: 768px)
{
    #page-cart .content main .products-grid .cart-product
    {
        grid-template-columns: 1fr;
        gap: 16px;
        height: auto;
    }

    #page-cart .content main .freight-area-price
    {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #page-cart .content main .freight-area-price .checkout-price
    {
        margin-top: 32px;
    }
}

@media (max-width: 470px)
{
    #page-cart .content main .products-grid .cart-product .info
    {
        display: flex;
        flex-direction: column;
    }

    #page-cart .content main .products-grid .cart-product .info .title
    {
        text-align: center;
    }

    #page-cart .content main .products-grid .cart-product .quantity-price,
    #page-cart .content main .products-grid .cart-product .quantity-price .max-quantity-remove-price
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #page-cart .content main .products-grid .cart-product .quantity-price .input
    {
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
    }

    #page-cart .content main .products-grid .cart-product .quantity-price .max-quantity-remove-price .price
    {
        margin-bottom: 8px;
    }

    #page-cart .content main .products-grid .cart-product .quantity-price .max-quantity-remove-price .max-quantity-remove
    {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #page-cart .content main .freight-area-row
    {
        display: table-column;
    }

    #page-cart .content main .freight-area-price .freight-area .cep a,
    #page-cart .content main .freight-area-price .freight-area #form2 input,
    #page-cart .content main .freight-area-price .freight-area #form2
    {
        margin: 0;
    }
    
    #page-cart .content main .freight-area-price .freight-area .freight-text
    {
        margin-bottom: 16px;
    }

    #page-cart .content main .freight-area-price .freight-area .delivery
    {
        margin-top: 16px;
    }


}

@media (max-width: 425px)
{
    #page-cart .content main .freight-area-price .freight-area #form2 input
    {
        width: 180px;
    }

    #page-cart .content main .freight-area-price .freight-area .delivery,
    #page-cart .content main .freight-area-price .checkout-price
    {
        width: auto;
    }

    #page-cart .content main .freight-area-price .freight-area .delivery .delivery-data
    {
        display: flex;
        flex-direction: column;
    }

    #page-cart .content main #form1
    {
        justify-content: center;
    }
}