:root
{
    /* define as variáveis de cores */
    --title-color: #121212;
    --primary-color: #d1c32f;
    --hover-color: #bbae24;
    --gray-color: #f0f0f5;
    --cor-teste:  #394143;
    --logo-color: #d1c32f;
}

*
/* aplica essas características para todo o documento */
{
    margin: 0;
    padding: 0;
    /* tamanho da caixa é considerado até a borda, e não até o fim do conteúdo */
    box-sizing: border-box;
}

html
{
    /* define a fonte que foi importada do google.fonts para o arquivo html */
    font-family: 'Roboto', sans-serif;
}


body
{
    /* define a cor de backgroud para todo o corpo do html */
    background:var(--gray-color);
    -webkit-font-smoothing: antialised;
}

a
{
    /* faz com que as decorações de todos os links sejam retiradas: no caso do link, é retirado o estilo sublinhado*/
    text-decoration: none;
}

/* Define uma cor e uma fonte para todos os títulos */
h1, h2, h3, h4, h5, h6
{
    color: var(--title-color);
    font-family: 'Ubuntu', sans-serif;
}

@media (max-width: 1000px)
{
    #Header .middle .logo-search
    {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
        width: 221px;

    }

    #Header .middle .logo-search #form2 .search-field

    {
        margin-bottom: 12px;
        margin-left: 0px;
    }

    #Header .middle .logo-search #form2 .search-field input
    {
        width: inherit;
    }

}

@media (max-width: 600px)
{
    #Header .middle
    {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    #Header .bottom-menu .items .categories-out-of-menu
    {
        display: none;
    }
}

@media (min-width: 701px)
{
    #page-user-menu,
    #page-user-menu-admin,
    #page-cart,
    #page-category,
    #page-checkout,
    #page-checkout-error,
    #page-checkout-ok,
    #page-checkout-pending,
    #page-home,
    #page-login,
    #page-reset,
    #product-info,
    #product-info-admin,
    #page-register,
    #page-register-product,
    #page-reset-password,
    #page-search,
    #page-about
    {
        padding-bottom: 110px;
    }
}

@media (max-width: 700px)
{
    #Footer
    {
        flex-direction: column;
        height: 190px;
    }

    #page-user-menu,
    #page-user-menu-admin,
    #page-cart,
    #page-category,
    #page-checkout,
    #page-checkout-error,
    #page-checkout-ok,
    #page-checkout-pending,
    #page-home,
    #page-login,
    #page-reset,
    #product-info,
    #product-info-admin,
    #page-register,
    #page-register-product,
    #page-reset-password,
    #page-search,
    #page-about
    {
        padding-bottom: 190px;
    }
}

@media (max-width: 500px)
{
    #Footer
    {
        flex-direction: column;
        height: 210px;
    }

    #page-user-menu,
    #page-user-menu-admin,
    #page-cart,
    #page-category,
    #page-checkout,
    #page-checkout-error,
    #page-checkout-ok,
    #page-checkout-pending,
    #page-home,
    #page-login,
    #page-reset,
    #product-info,
    #product-info-admin,
    #page-register,
    #page-register-product,
    #page-reset-password,
    #page-search,
    #page-about
    {
        padding-bottom: 210px;
    }
}