#page-search
{
    height: 100%;
    position: relative;
    min-height: 100vh;
    /* padding-bottom: 110px; */
}

#page-search .content
{
    width: 90%;
    max-width: 1200px;
   
    margin: 0 auto;
    
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

#page-search main
{
    flex: 1;
    display: flex;
    flex-direction: column;
    
    margin-top: 32px;
    margin-bottom: 64px;
}

#page-search main h1
{
    font-size: 54px;
    margin-bottom: 120px;
}

#page-search .content main .products-grid
{
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 24px;
    background:var(--gray-color);
}

#page-search main select
{
    font-size: 16px;
    text-align: center;
    height: 30px;
    width: 120px;
}

#page-search .content main .products-order
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

#page-search .content main .products-order .order .text
{
    margin-bottom: 8px;
    font-size: 18px;
    color: #333333;
}

#page-search .content main .products-order h3
{
    color: #333333;
}

#page-search .content main .pages
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 32px;
}

#page-search .content main .pages .buttons
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#page-search .content main .pages .buttons button
{
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    color: #333333;
    font-weight: bold;
    font-size: 20px;
}

#page-search .content main .pages .buttons button.previous
{
    margin-right: 8px;
}

#page-search .content main .pages .buttons button.previous-disabled
{
    margin-right: 8px;
    color: #999999;
    cursor: auto;
}

#page-search .content main .pages .buttons button.next
{
    margin-left: 8px;
}

#page-search .content main .pages .buttons button.next-disabled
{
    margin-left: 8px;
    color: #999999;
    cursor: auto;
}

#page-search .content main .pages .buttons .next,
#page-search .content main .pages .buttons .previous,
#page-search .content main .pages .buttons .next-disabled,
#page-search .content main .pages .buttons .previous-disabled
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#page-search .content main .no-results
{
    font-size: 32px;
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 650px)
{
    #page-search .content main .products-grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
    
@media (max-width: 500px)
{
    #page-search .content main .products-grid
    {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}