#SimpleHeader body::after
{
    content: "";
    position: absolute ;
    background: var(--cor-teste);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    height: 18rem;
    z-index: -1;
}

#SimpleHeader .header img
{
    background-color: var(--cor-teste);
}

#SimpleHeader .header
{
    background-color: var(--cor-teste);
    padding-top: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}