#page-register-product
{
    height: 100%;
    position: relative;
}

#page-register-product .content
{
  /** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
    padding-bottom: 110px;
    min-height: 100vh;

    width: 90%;
    max-width: 1200px;
   
    margin: 0 auto;
    
    height: 100%;
    
    display: flex;
    flex-direction: column;
}

#page-register-product .content .register-form
{
    margin-top: 32px;
    margin-bottom: 32px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    -moz-box-shadow:    0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    box-shadow:         0px 0px 3px 0px rgba(50, 50, 50, 0.25);
    border: 1px solid rgb(204, 203, 203);

    padding: 64px;
}

#page-register-product .content .register-form h1
{
  margin-bottom: 64px;
}

#page-register-product .content .register-form .image
{
  margin-bottom: 64px;
  display: flex;
  justify-content: center;
}

#page-register-product .content .register-form .form .field-group
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

#page-register-product .content .register-form .form .field-group .select-field
{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  flex: 1;  
  height: 51px;
}

#page-register-product .content .register-form .form .field-group .select-field select
{
  height: 32px;
  margin-bottom: 2px;
}

#page-register-product .content .register-form .form .field-group .select-field p
{
  margin-bottom: 2px;
  font-size: 13px;
  color: rgba(0,0,0, 0.54);
  font-family: 'Roboto';
}

#page-register-product .content .register-form .form .confirm
{
  display: flex;
  justify-content: center;
  
}

#page-register-product .content .register-form .form .confirm button.confirm
{
  width: 300px;
  height: 56px;

  background-color: var(--primary-color);
  border-radius: 8px;

  color: white;
  font-weight: bold;
  font-size: 16px;

  border: 0;

  margin-top: 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Para deixar o efeito de hover mais suave */
  transition: background-color 400ms;
}

/* Muda a cor ao passar o mouse por cima */
#page-register-product .content .register-form .form .confirm button.confirm:hover
{
    background-color: var(--hover-color);
}

#page-register-product #modal
{
    /* Para o modal utilizar 100% da tela */
    height: 100vh;
    width: 100vw;
    background-color: #0e0a14ef;

    position: fixed;

    /* Ser fixado no topo da tela */
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* Transição pra quando for aberto */
    transition: 400ms;
}

/* Caixa que vai ter o conteúdo */
#page-register-product #modal .content
{
    color: white;
    width: 420px;
    justify-content: center;
}

#page-register-product #modal .header
{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    margin-bottom: 48px;
}

#page-register-product #modal .header h1
{
    color: white;

    margin-top: 32px;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    justify-content: center;
}


/* Quando o modal estiver pertencendo à classe hide ele não vai mostrar nada do seu conteúdo */
#page-register-product #modal.hide
{
    display: none;
}