#page-register-product
{
    height: 100%;
    position: relative;

}

#page-register-product .content{
  /** Altura do rodapé tem que ser igual a isso aqui e vice-versa **/
    background-color: #fc9898;
    padding-bottom: 110px;
    min-height: 100vh;
}
